<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
								http://www.springframework.org/schema/beans/spring-beans.xsd
								http://www.springframework.org/schema/context
								http://www.springframework.org/schema/context/spring-context.xsd
								http://www.springframework.org/schema/mvc
								http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- mvc注解驱动 -->
	<mvc:annotation-driven />
	<context:component-scan base-package="cn.itcast.sso.server.controller" />

	<mvc:default-servlet-handler />

	<!-- 该为拦截器，拦截所有请求，判断是否开启安全模式访问 -->
	<mvc:interceptors>
		<!-- secure mode拦截检验 -->
		<mvc:interceptor>
			<mvc:mapping path="/*"/>
			<bean class="cn.itcast.sso.server.SecureModeInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- jsp 视图解析器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 配置视图前缀 -->
		<property name="prefix" value="/WEB-INF/view/" />
		<!-- 配置视图后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
</beans>